{% extends 'registration/base_reg.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}
    <div class="signin-logo tx-center tx-28 tx-bold tx-inverse"><span class="tx-normal">[</span> {{ site_title }} <span class="tx-normal">]</span></div>
    <div class="tx-center mg-b-60">Change Password</div>
    <div class="text-warning">{{ form.non_field_errors }}</div>
    <form method="post" action="{% url 'password_change' %}">
        {% csrf_token %}
        {% for hidden_field in form.hidden_field  %}
            <span class="text-warning">{{ hidden_field.errors }}</span>
            {{ hidden_field }}
        {% endfor %}
        {% for visible_field in form.visible_fields %}
            <div class="form-group">
                <input type="{{ visible_field.field.widget.input_type }}" class="form-control" placeholder="{{ visible_field.label }}" name="{{ visible_field.html_name }}">
                {% if visible_field.help_text %}
                    <span class="text-info">{{ visible_field.help_text|safe }}</span>
                {% endif %}
                {% if visible_field.errors %}
                    <span class="text-warning">{{ visible_field.errors|safe }}</span>
                {% endif %}
            </div><!-- form-group -->
        {% endfor %}
        <button type="submit" class="btn btn-info btn-block">Change Password</button>
    </form>
    {# Assumes you setup the password_reset view in your URLconf #}
    <p>
        <span class="pull-left"><a href="{% url 'password_reset' %}">Lost password?</a></span>
        <span class="pull-right"><a href="{% url 'login' %}">Login</a> </span>
    </p>
{% endblock %}


{% block scripts %}
    <script type="application/javascript" src="{% static 'js/form_script.js' %}"></script>
{% endblock %}