{% extends 'base_messages.html' %}

{% block content %}
<h1 class="tx-100 tx-xs-140 tx-normal tx-inverse tx-roboto mg-b-0">Success!</h1>
<h5 class="tx-xs-24 tx-normal tx-info mg-b-30 lh-5">Your password has been successfully changed.</h5>

<div class="d-flex justify-content-center">
    <div class="input-group wd-xs-300">
        <a href="{% url 'index' %}"><button class="btn btn-info btn-block">Click here to go back to dashboard</button></a>
    </div><!-- input-group -->
</div><!-- d-flex -->
{% endblock %}