{% extends 'base_dashboard.html' %}
{% load static %}

{% block content %}
<div class="br-mainpanel">
  <div class="br-pageheader pd-y-15 pd-l-20">
    <nav class="breadcrumb pd-0 mg-0 tx-12">{{ site_title }} / Distribution / List</nav>
  </div><!-- br-pageheader -->
  <div class="d-sm-flex align-items-center pd-t-15 pd-sm-t-25 pd-x-20 pd-sm-x-30">
    <i class="icon ion-ios-filing-outline tx-70 lh-0 tx-gray-800"></i>
    <div class="pd-sm-l-20">
      <h4 class="tx-gray-800 mg-b-5">Distribution List</h4>
    </div>
  </div><!-- d-flex -->

  <div class="br-pagebody">
    <!-- this is where your contents will be added -->
      <div class="br-section-wrapper">
        <h6 class="tx-gray-800 tx-uppercase tx-bold tx-14 mg-b-10">Unpicked Distributions</h6>
          <div class="table-wrapper">
            <table id="datatable1" class="table display responsive nowrap">
              <thead>
                <tr>
                  <th class="wd-15p">Actions</th>
                  <th class="wd-15p">Refugee Name</th>
                  <th class="wd-15p">Food Name</th>
                  <th class="wd-20p">Quantity to be Allocated</th>
                  <th class="wd-15p">Date Allocated</th>
                </tr>
              </thead>
              <tbody>

              {% for distribution in distribution_list %}
              <tr>
                  <th class="wd-15p"><a href="{% url 'distribution:clear' distribution.id %}"> <span class="fa fa-clipboard"></span> Clear</a> </th>
                  <th class="wd-15p">{{ distribution.refugee.name }}</th>
                  <th class="wd-15p">{{ distribution.food.name }}</th>
                  <th class="wd-20p">{{ distribution.quantity }}</th>
                  <th class="wd-15p">{{ distribution.allocation_time }}</th>

                </tr>
              {% endfor %}

              </tbody>
                <thead>
                <tr>
                  <th class="wd-15p">Actions</th>
                  <th class="wd-15p">Refugee Name</th>
                  <th class="wd-15p">Food Name</th>
                  <th class="wd-20p">Quantity to be Allocated</th>
                  <th class="wd-15p">Date Allocated</th>
                </tr>
              </thead>
            </table>
        </div>
      </div>
  </div><!-- br-pagebody -->

</div><!-- br-mainpanel -->
{% endblock %}

{% block scripts %}
    <script type="text/javascript" src="{% static "lib/datatables/jquery.dataTables.js" %}"></script>
    <script type="text/javascript" src="{% static 'lib/datatables-responsive/dataTables.responsive.js' %}"></script>
<script type="text/javascript">
$('#datatable1').DataTable({
  responsive: true,
  language: {
    searchPlaceholder: 'Search...',
    sSearch: '',
    lengthMenu: '_MENU_ items/page',
  }
});
</script>
{% endblock %}